<h1>About My Website</h1>

<% tab "About" %>

<h2>
  <ul class="tabs">
    <li><%= link_to 'Home', 'Home' %></li>
    <li><%= link_to 'About', 'About' %></li>
    <li><%= link_to 'Skills', 'Skills' %></li>
    <li><%= link_to 'Projects', 'Projects' %></li>
  </ul>
</h2>

<body>
  I have always wanted to publish projects for other people to see and use. I also think it would be a great way to
  learn a lot and then be able to show what I have learned and what I have done. I think it will be a great way to track my work
  progress.
</body>
<p>
  Check out the Projects tab for my upcoming and in progress projects.
</py>

<h3>About</h3>
