.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 80px;
	float: left;
	position: relative;
	top: -20px;
}

.App-header {
  background-color: #222;
  height: 120px;
  padding: 20px;
  color: white;
	position: absolute;
	border:5px solid #ff53ff;
}

.Head {
 background-color: #ff53ff;
 border:3px solid black;
 z-index: 100;
 position: relative;
}


.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
	position: relative;
	top: -5px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: black;
	margin-top: 40px;
	margin-bottom: 10px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

footer{
	position: relative;
	bottom: -250px;
	border-top: solid #ff53ff;
}
