body {
	text-align: left;
	font-size: medium;
}

section {
	position: relative;
	top: 180px;
	font-size: medium;
	padding-right: 40px;
	padding-left: 40px;
	text-align: justify;
	text-justify: inter-word;
}

.sideBar {
	align-content: right
}
