body {
	text-align: left;
	font-size: medium;
	background-color: #222;
	color: white;
}

section {
	position: relative;
	top: 180px;
	padding: 20px;
	font-size: medium;
	text-align: justify;
	text-justify: inter-word;
}

.sideBar {
	align-content: right
}
