<h1>All Posts</h1>

<% @visitor_data.each do |post| %>
	<div class="well">
		<h3>Rating of website (1-10): <%= post.rating %></h3>
		<p>Comment: <%= post.review %></p>
    <h5>Created atL <%= post.created_at %></h5>
    <h4>----------------------------------------</h4>
	</div>
<% end %>
