<h2><%= @visitor_datum.rating %></h2>
<p><%= @visitor_datum.review %></p>
<hr>
<%= link_to "Edit", edit_post_path(@visitor_datum), :class => 'btn btn-default' %>
<%= link_to "Delete", post_path(@visitor_datum),
				method: :delete,
				data: {confirm: 'Are you sure?'},
				:class => 'btn btn-danger' %>

<hr>
